In [86]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [87]:
df = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [88]:
corrmat = df.corr()
cols = corrmat.nlargest(37,'SalePrice')['SalePrice'].index
zoomcorr = np.corrcoef(df[cols].values.T)

In [89]:
X = df[cols]

In [90]:
y = X['SalePrice']
X = X.drop(['SalePrice'], axis=1)

In [91]:
X.head()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,...,3SsnPorch,BsmtFinSF2,BsmtHalfBath,MiscVal,Id,LowQualFinSF,YrSold,OverallCond,MSSubClass,EnclosedPorch
0,7,1710,2,548,856,856,2,8,2003,2003,...,0,0,0,0,1,0,2008,5,60,0
1,6,1262,2,460,1262,1262,2,6,1976,1976,...,0,0,1,0,2,0,2007,8,20,0
2,7,1786,2,608,920,920,2,6,2001,2002,...,0,0,0,0,3,0,2008,5,60,0
3,7,1717,3,642,756,961,1,7,1915,1970,...,0,0,0,0,4,0,2006,5,70,272
4,8,2198,3,836,1145,1145,2,9,2000,2000,...,0,0,0,0,5,0,2008,5,60,0

In [92]:
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split

my_imputer = Imputer()
X_ = my_imputer.fit_transform(X)

In [93]:
X = pd.DataFrame(X)
train_X, test_X, train_y, test_y = train_test_split(X.as_matrix(), y.as_matrix(), test_size=0.20)

In [94]:
from xgboost import XGBRegressor
from sklearn.cross_validation import cross_val_score


my_model = XGBRegressor(n_estimators=1000)
scores = cross_val_score(estimator=my_model,X=train_X,y=train_y,cv=15,n_jobs=-1)
print(scores.mean())
print(scores.std())

0.818106863477
0.24902705681

In [95]:
my_model.fit(train_X,train_y)
my_model.score(test_X,test_y)

0.89242893691087555

Index(['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea',
       'TotalBsmtSF', '1stFlrSF', 'FullBath', 'TotRmsAbvGrd', 'YearBuilt',
       'YearRemodAdd', 'GarageYrBlt', 'MasVnrArea', 'Fireplaces', 'BsmtFinSF1',
       'LotFrontage', 'WoodDeckSF', '2ndFlrSF', 'OpenPorchSF', 'HalfBath',
       'LotArea', 'BsmtFullBath', 'BsmtUnfSF', 'BedroomAbvGr', 'ScreenPorch',
       'PoolArea', 'MoSold', '3SsnPorch', 'BsmtFinSF2', 'BsmtHalfBath',
       'MiscVal', 'Id', 'LowQualFinSF', 'YrSold', 'OverallCond', 'MSSubClass',
       'EnclosedPorch'],
      dtype='object')